.toppick-container {
  padding: 16px;
}

.heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: black;
}

.toppick-list {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 12px 0;
}

.toppick-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 16px;
  width: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  border-radius: 0.5rem;
  margin-bottom: 8px;
  width: 100%; 
  height: auto;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: center; 
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.card-rating {
  color: #e63636; 
}

.card-duration {
  color: black;
}  


@media (max-width: 768px) {
  .toppick-list {
    gap: 1rem;
  }

  .toppick-card {
    width: 120px; 
    padding: 12px;
  }

  .card-title {
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  .toppick-card {
    width: 100px; 
    padding: 8px;
  }

  .card-title {
    font-size: 0.75rem; 
  }
}
